*{
    text-decoration: none;
    border-radius: 10px;
    padding: 0px;
    margin: auto;
    
}

body, html {
    background-color: rebeccapurple;
    height: 100%;
}

section {
    display: flex;
    color: black;
}
#pierwszy{
    border: 5px orangered solid;
    text-align: center;
    text-decoration: none;
}

#grew{
    text-align: center;
    width: 50%;
    text-decoration-color: black;
    
}
    
li{
    display: block;
    float: center;
    width: 25%;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    display: inline;
    padding: 10px 15px;
    border: 2px solid blue;
    border-radius: 1px;
    background-color: lightblue;
}    

.zdjęcie-hero {
    background-image: url("góry.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
  .tekst-hero {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}